



div.form .err-msg
{
	margin: 5px 0;
}






div.form .required
{
	color: red;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	/*border-color: #C00;*/
	border: 1px solid #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	/*border-color: #C6D880;*/
	border: 1px solid #C6D880;
}

div.form div.success label
{
	color: inherit;
}



div.form .errorMessage
{
	color: red;
	font-size: 0.9em;
}

.btn-maroon {
background-color: #85144b !important;
color:#FFFFFF;
 width: 100%;
}
.btn-maroon:hover{
background-color: #85144b !important;
color:#FFFFFF !important;
}


div.wide.form .err-msg
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}
sucMsg {
    color: green;
    font-size: 0.9em;
}
