


/*---------Hotel Detail Pages Start---------*/

.hotelDetailGallery {
	padding:10px;
	border-bottom:1px solid #DDD;
	margin-bottom:10px;
	}

.hotelDetailGalleryImg {
	width:78px;
	height:78px;
	border:4px solid #CCC;
	margin:5px 2px;
	}

.hotelDetailHeading {
	font-size:16px;
	color:#666;
	font-weight:bold;
	}

.hotelDetailPart {
	width:765px;
	}

.hotelDetailHeadingPart {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 50%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
	-moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
	padding:8px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
	color:#e96a0b;
	font-weight:bold;
	border:1px solid #CCC;
	}
.hotelDetailShowHidePart {
	border:1px solid #CCC;
	border-top:0px;
	-moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -khtml-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
	background-color:#FFF;
	}
	
	
.hotelDetailShowHideUp {
	background-image:url(../images/images1.png);
	background-repeat:no-repeat;
	background-position:-144px -135px;
	width:20px;
	height:20px;
	}
	
.hotelDetailShowHideDown {
	background-image:url(../images/images1.png);
	background-repeat:no-repeat;
	background-position:-113px -135px;
	width:20px;
	height:20px;
	}
	
.hotelDetailAmenities_available {
	background-image:url(../images/icons.png);
	background-repeat:no-repeat;
	background-position:-5px -423px;
	width:210px;
	float:left;
	padding:5px 5px 5px 25px;
	margin:5px 2px;
	background-color:#F9F9F9;
	border:1px solid #CCC;
	-moz-border-radius: 0px 8px 0px 8px;
    -webkit-border-radius: 0px 8px 0px 8px;
    -khtml-border-radius: 0px 8px 0px 8px;
    border-radius: 0px 8px 0px 8px;
	}
	
.hotelDetailAmenities_not_available {
	background-image:url(../images/icons.png);
	background-repeat:no-repeat;
	background-position:-288px -423px;
	width:210px;
	float:left;
	padding:5px 5px 5px 25px;
	margin:5px 2px;
	background-color:#EEE;
	border:1px solid #CCC;
	-moz-border-radius: 0px 8px 0px 8px;
    -webkit-border-radius: 0px 8px 0px 8px;
    -khtml-border-radius: 0px 8px 0px 8px;
    border-radius: 0px 8px 0px 8px;
	}




	


/*---------Hotel Detail Pages End---------*/
.scroller_anchor{height:0px; margin:0; padding:0;}
.scroller{ border:0px solid #CCC !important; margin:0 0 0px 0px; z-index:100; width:100%;}

.hotelPrebookigScrollSec {
	background-color:#FFF;
	border:1px solid #CCC;
	-moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -khtml-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
	padding-bottom:10px;
	}
	
	
.hotelPrebookigScrollSec_left {
	float:left;
	width:450px;
	}

.hotelPrebookigScrollSec_right {
	float:right;
	width:500px;
	}
	
.preBookingMain {
	width:100%;
	border:1px solid #CCC;
	-moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
	background-color:#FFF;
	}
	
.preBookingPart {
	margin:15px;
	border:1px solid #DDDDDD;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	-moz-box-shadow:0px 0px 11px 1px #DDD;
    -webkit-box-shadow:0px 0px 11px 1px #DDD;
    box-shadow:0px 0px 11px 1px #DDD;
}






.preBookingHeadingPart {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 50%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
	-moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
	padding:8px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
	color:#e96a0b;
	font-weight:bold;
	border:1px solid #CCC;
	}
.preBookingShowHidePart {
	border:1px solid #CCC;
	border-top:0px;
	-moz-border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -khtml-border-radius: 0px 0px 8px 8px;
    border-radius: 0px 0px 8px 8px;
	background-color:#FFF;
	}
	
	
.preBookingShowHideUp {
	background-image:url(../images/images1.png);
	background-repeat:no-repeat;
	background-position:-144px -135px;
	width:20px;
	height:20px;
	}
	
.preBookingShowHideDown {
	background-image:url(../images/images1.png);
	background-repeat:no-repeat;
	background-position:-113px -135px;
	width:20px;
	height:20px;
	}


.preBookingNo {
	border: 2px solid #e96a0b;
	float: left;
	padding: 3px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	font-size: 13px;
	font-weight: bold;
	margin-right:5px;
	color:#e96a0b;
	}
	
.preBookingNoGray {
	border: 2px solid #666666;
	float: left;
	padding: 3px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	font-size: 13px;
	font-weight: bold;
	margin-right:5px;
	color:#666666;
	}
	
.preBookingTdBorder td {
	border-bottom:1px dotted #CCC;
	}
	
.preBookingPoliciesHeading {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 50%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
	-moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -khtml-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
	padding:5px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
	color:#e96a0b;
	font-weight:bold;
	border:1px solid #CCC;
	}
	
.preBookingPolicies {
	border:1px solid #CCC;
	border-top:0px;
	margin-bottom:15px;
	-moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
	}

	
.preBookingPolicies ul li {
	list-style-image:url(../images/policies_icon.png);
	margin-left:20px;
	line-height:20px;
	}
	
.travelerBgPart {
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 50%, #eeeeee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(50%,#ffffff), color-stop(100%,#eeeeee));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 50%,#eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
	border:1px solid #CCC;
	padding:8px 8px 5px 8px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	}
	
.travelerAdult {
	width:150px;
	float:left;
	}

.travelerAdult select {
	padding:5px;
	width:120px;
	border:1px solid #CCC;
	}
	
.travelerFastName {
	width:350px;
	float:left;
	}
	
.travelerFastName input {
	padding:5px;
	width:240px;
	border:1px solid #CCC;
	}
	
.adultIcon {
	background-image: url(../images/adult_icon.png);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	line-height:25px;
	width: 60px;
	margin: 2px 10px;
	border-right:1px solid #CCC;
	text-align:right;
	padding-right:10px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #e96a0b;
	font-weight: bold;
	}
	
.childIcon {
	background-image:url(../images/child_icon.png);
	background-repeat:no-repeat;
	float: left;
	height: 25px;
	line-height:25px;
	width: 60px;
	margin: 2px 10px;
	border-right:1px solid #CCC;
	text-align:right;
	padding-right:10px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #e96a0b;
	font-weight: bold;
	}
	
.travelerAddressBox {
	width:400px;
	float:left;
	padding:10px 42px 10px 42px;
	border-bottom:1px dotted #CCC;
	}
	
.travelerAddressBox input {
	padding:5px;
	width:250px;
	border:1px solid #CCC;
	float:right;
	}