<html lang="en"><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Redtag - Agent's Portal</title>
        <!-- Bootstrap -->
        <style>p{font-size:15px;}</style>
    </head>
    <body>
        <div style="width:80%;margin:auto;">
            <div style="
    text-align: center;
">
                <img src="http://www.redtagtravels.com/agent/assets/images/logo.png" width="" height="100">
            </div>
            <div style="padding: 15px;width:100%;float:left;background: #00caca;box-shadow: 8px 8px 0px 0px #000;/* border-radius: 10px; */margin-bottom: 20px;">
                <div style="padding:0px;width:100%;float:left;background: #fff;">
                    <div style="width:25%;float:left;">
                                                <p style="    padding-left: 50px;">Manila</p>
                        <p style="    padding-left: 50px;">Onward</p>
                    </div>
                    <div style="width:25%;float:left;">
                        <span style="float:left; margin-top:8px; padding-right:25px;"><img src="http://www.redtagtravels.com/agent//assets/images/depart-icon.png" style="width:22px;"></span><p style="float:left;"> Cebu</p>
                        <div style="clear:both;"></div>
                        <p style="/* text-align:center; */margin-top:0px;">
                            Aug 14,Tue 2018                        </p>
                    </div>
                    <div style="width:25%;float:left;">
                        <p>One Way</p>
                        <p style="text-align:center;">1 Adult(s)&nbsp;&nbsp;1 Child(s)&nbsp;&nbsp;1 Infant(s)</p>
                    </div>
                    <div style="width:25%;float:left;">
                        <p style="float:left; padding-right: 3px;">Booking ID : </p>
                        <p style="float:left;"><b></b></p>
                        <p style="text-align:center;">Booking Date : <b>Apr 13,Fri 2018</b></p>
                    </div>
                    <div style="clear:both;"></div>
                    
                    <div style="background-color: #00caca;width:100%;float:left;">
                        <div style="     padding-left: 37px;    padding-top: 14px; width: 35%;float:left;">
                            <span style="float:left; margin-top:8px; padding-right:25px;"><img src="http://www.redtagtravels.com/agent//assets/images/depart-icon.png" style="width:22px;"></span><p style="float:left;margin-top:9px;color: #fff;"> <b>Onward - 1 </b><span style=" font-size: 16px;">Flight(s)</span></p>
                        </div>
                        <div style=" width:58%;float:left;">
                            <p style="float: right;color: white;border: 1px solid white;padding: 6px;border-radius: 4px;">Not Refundable</p>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    
                    <div style="width:100%; float:left;">
                        <div style="width:25%;float:left;">
                            <p style="padding-left: 30px;font-size: 17px;color: black;">Flight</p>
                        </div>
                        <div style="width:25%;float:left;">
                            <span style="float:left; margin-top:8px; padding-right:25px;"><img src="http://www.redtagtravels.com/agent//assets/images/flight-sprite.png" style="width:22px;"></span><p style="float:left;"> Departing</p>
                        </div>
                        <div style="width:25%;float:left;">
                            <span style="float:left; margin-top:8px; padding-right:25px;"><img src="http://www.redtagtravels.com/agent//assets/images/flight-arrival.png" style="width:22px;"></span><p style="float:left;"> Arriving</p>
                        </div>
                        <div style="width:25%;float:left;"></div>
                        <div style="clear:both;"></div>
                        
                    </div>
                    
                    <div style="width:100%;float:left;border-top: 3px solid #00caca;">
                                                <div style="width:25%;float:left;">
                            <span style="float:left; margin-top:8px; padding-right:25px;">
                                <img src="http://www.redtagtravels.com/agent//assets/images/airlines/icons/.gif" style="padding-left: 30px;">
                            </span>
                            <p style="float:left;"> 
                                <b>Air Asia</b>
                                <br>
                                <span style="font-size: 15px;">Air Asia-781</span>
                            </p>
                        </div>
                                                <div style="width:25%;float:left;">
                            <p style="font-size: 17px;"><b>MNL</b> Manila</p>
                            <p style="margin-bottom: 2px;">Ninoy Aquino Intl<br>NAIA Terminal 4</p>
                            <p>
                                <b>
                                    Tue 14,Aug 2018, 08:35:00.000                                </b>
                            </p>
                        </div>
                                                <div style="width:25%;float:left;">
                            <p style="font-size: 17px;"><b>CEB</b> Cebu</p>
                            <p style="margin-bottom: 2px;">Mactan-Cebu International<br>Mactan Cebu International Airport</p>
                            <p>
                                <b>
                                    Tue 14,Aug 2018, 10:05:00.000                                </b>
                            </p>
                        </div>
                        <div style="width:25%;float:left;">
                                                        <p style="color:#a9a9a9;text-align:right;padding-right: 40px;">1H, 30M</p>
                            <p style="color:#a9a9a9;text-align:right;padding-right: 40px;">0 Stops</p>
                        </div>
                        <div style="clear:both;"></div>
                                            </div>
                    
                                        
                    <div style="clear:both;"></div>
                    
                    <div style="background-color: #00caca;padding-top: 10px;width:100%;float:left;color: #fff;">
                        <div style="    width: 20%;float: left;">
                            <p style=" padding-left: 35px;">Passenger(s) Details</p>
                        </div>
                        <div style="    width: 15%;float: left;">
                            <p>Passport Details</p>
                        </div>
                        <div style="width: 15%;float: left;">
                            <p>PNR</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p>FF No</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p>E-Ticket</p>
                        </div>
                        <div style="width: 17%;float: left;">
                            <p>Insurance No.</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p>Status</p>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <hr style="margin-top:0px;">
                    
                                            <div style="width:100%; float:left;">
                        <div style="    width: 20%;float: left;">
                            <span style="float:left; margin-top:8px; padding-right:25px; padding-left:30px;">1</span>
                            <p style="float:left; margin-top:0px;"> 
                                                                <b>Mr zdfdfg dfgdfg</b>
                                <br>
                                <span style="font-size: 15px;">
                                                                        Adult (Mar 18, 1993)
                                </span>
                            </p>
                        </div>
                        <div style="    width: 15%;float: left;">
                            <p style="padding-top:8px;">-</p>
                        </div>
                         
                        <div style="width: 15%;float: left;">
                            <p style="padding-top:8px; font-size:17px; color:red; margin-top:0px;"></p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 17%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                    </div>
                                            <div style="width:100%; float:left;">
                        <div style="width: 20%;float: left;">
                            <span style="float:left;margin-top:8px;padding-right:25px;padding-left:30px;height: 50px;">2</span>
                            <p style="/* float:left; */margin-top:0px;"> 
                                                                <b>Mr THANAKODI mahi</b>
                                <br>
                                <span style="font-size: 15px;">
                                                                        Child (Apr 21, 2009)
                                </span>
                            </p>
                        </div>
                        <div style="    width: 15%;float: left;">
                            <p style="padding-top:8px;">-</p>
                        </div>
                         
                        <div style="width: 15%;float: left;">
                            <p style="padding-top:8px; font-size:17px; color:red; margin-top:0px;"></p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 17%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                    </div>
                                            <div style="width:100%; float:left;">
                        <div style="    width: 20%;float: left;">
                            <span style="float:left; margin-top:8px; padding-right:25px; padding-left:30px;">3</span>
                            <p style="float:left; margin-top:0px;"> 
                                                                <b>Mr dfdsgf vbvn</b>
                                <br>
                                <span style="font-size: 15px;">
                                                                        Child (Apr 11, 2017)
                                </span>
                            </p>
                        </div>
                        <div style="    width: 15%;float: left;">
                            <p style="padding-top:8px;">-</p>
                        </div>
                         
                        <div style="width: 15%;float: left;">
                            <p style="padding-top:8px; font-size:17px; color:red; margin-top:0px;"></p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 17%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                        <div style="width: 10%;float: left;">
                            <p style="padding-top:8px; margin-top:0px;">-</p>
                        </div>
                    </div>
                                        <div style="clear:both;"></div>
                    
                    <div style="background-color: #00caca;width:100%;float:left;padding-top: 10px;color: #fff;">
                        <div style="width:100%; float:left;">
                            <span style="float:left; margin-top:8px; padding-right: 18px; padding-left:30px;"><img src="http://www.redtagtravels.com/agent//assets/images/star-a.png" style="width:16px;"></span><p style="float:left;    margin-top: 7px;"> Add - ons</p>
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    
                    <div style="width:100%; float:left;">
                                                <div style="padding:0px; width:100%; float:left;">
                            <div style="width:25%;float:left;">
                                <p style="color: black;padding-left:30px;">Flight: -781</p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p style="">Meals</p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p style="text-align:right;">Seat</p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p style="text-align:right;padding-right: 40px;">Purchased Baggage</p>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                        
                                                <div style="padding:0px;width:100%;float:left;border-top: 3px solid #00caca;">
                            <div style="width:25%;float:left;">
                                <p style=" padding-left:30px;">Mr zdfdfg dfgdfg</p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p></p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p style="text-align:right;">-</p>
                            </div>
                                                    </div>
                                                <div style="padding:0px; width:100%; float:left;">
                            <div style="width:25%;float:left;">
                                <p style=" padding-left:30px;">Mr THANAKODI mahi</p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p></p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p style="text-align:right;">-</p>
                            </div>
                                                    </div>
                                                <div style="padding:0px; width:100%; float:left;">
                            <div style="width:25%;float:left;">
                                <p style=" padding-left:30px;">Mr dfdsgf vbvn</p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p></p>
                            </div>
                            <div style="width:25%;float:left;">
                                <p style="text-align:right;">-</p>
                            </div>
                                                    </div>
                                                                        
                    </div>
                                        <div style="clear:both;"></div>
                    
                    <div style="width:100%;float:left;border-top: 3px solid #00caca;">
                        <div style="border: 3px solid #00caca;padding:0px;padding-bottom: 15px;width:35%;float:left;margin: 3% 7%;">
                            <div style="padding-top:10px;background-color: #fe0000;padding-bottom: 18px;width:100%;float:left;color: #fff;">
                                <span style="float:left; margin-top:8px; padding-right: 18px; padding-left:30px;"><img src="http://www.redtagtravels.com/agent//assets/images/doller.png" style="width:16px;"></span><p style="float:left; margin-bottom:0px; margin-top: 10px;">Payment Details</p>
                            </div>
                            <div style="clear:both;"></div>
                            
                            <div style="width:100%;float:left;border-top: 3px solid #00caca;">
                                <div style="padding:0px; width:70%;float:left;">
                                    <p style="padding-left:30px;">Fare Type</p>
                                </div>
                                <div style="padding:0px; width:30%;float:left;">
                                    <p style="text-align:right;padding-right: 16px;"><b>Amount (₱)</b></p>
                                </div>
                                <div style="clear:both;"></div>
                                
                            </div>
                            <div style="padding:0px;width:100%;float:left;border-top: 3px solid #00caca;">
                                <div style=" width:70%;float:left;">
                                    <p style="padding-left:30px;margin-bottom: 2px;">Base Fare</p>
                                    <p style="padding-left:30px;margin-bottom: 2px;">Booking Fee &amp; Taxes</p>
                                    <p style="padding-left:30px;margin-bottom: 2px;">Addon Fee ( Baggage, Seat &amp; Meal)</p>
                                </div>
                                <div style=" width:30%;float:left;">
                                                                        <p style="text-align:right;padding-right: 16px;"><b>0.00</b></p>
                                    <p style="text-align:right;padding-right: 16px;"><b>0.00</b></p>
                                    <p style="text-align:right;padding-right: 16px;"><b>0.00</b></p>

                                </div>
                                <div style="width:100%; float:left;">
                                    
                                </div>
                                <div style="width:100%;float:left;border-top: 3px solid #00caca;">
                                    <div style="padding:0px; width:70%;float:left;">
                                        <p style="padding-left:30px;    margin-bottom: 2px;"><b>Total Fare</b></p>
                                    </div>
                                    <div style="padding:0px; width:30%;float:left;">
                                        <p style="text-align:right;    margin-bottom: 2px;padding-right: 16px;"><b>0.00</b></p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div style="border: 3px solid #00caca;padding:0px;padding-bottom: 15px;width: 36%;float:left;margin: 3% 6%;">
                            <div style="padding-top:10px;background-color: #fe0000;padding-bottom: 18px;width:100%;float:left;color: #fff;">
                                <span style="float:left; margin-top:8px; padding-right: 18px; padding-left:30px;"><img src="http://www.redtagtravels.com/agent//assets/images/star-a.png" style="width:16px;"></span><p style="float:left; margin-bottom:0px; margin-top: 9px;">Baggage Details</p>
                            </div>
                            <div style="clear:both;"></div>
                            
                            <div style="width:100%;float:left;border-top: 3px solid #00caca;">
                                <div style=" width:100%;float:left;">
                                    <p style="    padding-left: 9%;"><b>Cabin Baggage (Pre Included)</b></p>
                                                                        <p style="padding-left: 9%;">-781, Adult:7 Kg Included</p>
                                    <p style="padding-left: 9%;"></p>
                                </div>
                                
                                <div style="width:100%;float:left;border-top: 3px solid #00caca;">
                                    <p style="padding-left: 9%;"><b>Check-in Baggage (Pre Included)</b></p>
                                    <p style="padding-left: 9%;">-781,</p>
                                    <p style="padding-left: 9%;">N/A<br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</body></html>